/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
body {
    font-family: "Roboto Condensed", serif;
}

main {
    margin: 2.5rem auto;
    max-width: 68.75rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* TYPOGRAPHY */
h1 {
    text-align: center;
    background-color: #cd0000;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 3.75rem;
}

/* BUTTONS */

.arrow-buttons {
    background-color: transparent;
    border: 0;
    font-size: 2.5rem;
    color: #cd0000;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 2px 5px;
    transform: scale(1) ease-out;
    transition: 0.4s;
    margin: 0 .3125rem;
}

.arrow-buttons:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.4s;
    color: #ab0202;
}

.arrow-buttons:active {
    color: #880202;
    transition: 0.1s;
}

.add-img {
    display: flex;
    justify-self: center;
    margin: 1.875rem 0;
    border: 0;
    width: 10.3125rem;
    background-color: #cd0000;
    color: #fff;
    font-size: .9375rem;
    padding: .625rem;
    border-radius: .625rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: scale(1) ease-out;
    transition: 0.4s;
}

.add-img:hover {
    cursor: pointer;
    background-color: #ab0202;
    transform: scale(1.1);
    transition: 0.4s;
}

.add-img:active {
    background-color: #880202;
    transition: 0.1s;
}

.btn-img {
    border:none;
    background-color: transparent;
    transform: scale(1) ease-out;
    transition: 0.4s;
    opacity: 0.5;
}

.btn-img:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.4s;
    opacity: 1;
}

.btn-img:active {
    opacity: 0.8;
    transition: 0.1s;
}

.check-auto-play {
    margin-bottom: 1.875rem;
    display: flex;
    justify-self: center;
    align-content: center;
    gap: .25rem;
    background-color: #cd0000;
    color: #fff;
    padding: .5rem;
    border-radius: .625rem;
    font-size: small;
    transform: scale(1) ease-out;
    transition: 0.4s;
}

.check-auto-play:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.4s;
}

.check-auto-play input:hover, .check-auto-play label:hover {
    cursor: pointer;
}

.check-auto-play:active, .check-auto-play input:active, .check-auto-play label:active {
    background-color: #880202;
    transition: 0.1s;
}

.select-on-img {
    position: absolute;
    bottom: .9375rem;
    left: center;
}

.selector-circle {
    border-radius: 100%;
    border: none;
    background-color: #ffffff;
    transform: scale(1) ease-out;
    transition: 0.4s;
    padding: .3125rem;
}

.selector-circle:hover {
    cursor: pointer;
    background-color: #ab0202;
    transform: scale(1.3);
    transition: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.selector-circle:active {
    background-color: #880202;
}

/* MAIN */

.current-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-img {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.current-image--image {
    margin: 0 .625rem;
    margin-bottom: .625rem;
    border-radius: .625rem;
}

.img-list {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    gap: .9375rem;
    list-style: none;
}

.img-list img {
    width: 12.5rem;
    height: 9.375rem;
    object-fit: cover;
    border-radius: .625rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container-img p {
    position: absolute;
    bottom: 2.1875rem;
    right: .9375rem;
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 2px 5px;
}

.form-add-images {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 10.3125rem;
    /* display: none; */
}

#img-name, #img-url {
    outline: none;
    border-radius: .3125rem;
}

#img-name:focus, #img-url:focus {
    border: 2px solid #880202;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* RESPONSIVE - DESKTOP FIRST */

/* MOBILE <= 767px */

@media screen and (max-width: 47.9375rem) {
    .img-list {
        grid-template-columns: auto auto
    }

    .current-image {
        width:100%;
        display: flex;
        align-items: center;
    }

    .current-image--image {
        max-width: 100%; 
        border-radius: .625rem; 
    }

    .container-img p {
        font-size: .9375rem;
    }
}

/* TABLET 768px to 1100px */

@media screen and (min-width: 768px) {
    .img-list {
        grid-template-columns: auto auto auto
    }

    .current-image {
        width:100%;
        display: flex;
        align-items: center;
    }

    .current-image--image {
        max-width: 100%; 
        border-radius: .625rem; 
    }
}

/* DESKTOP 1100px to >= */

@media screen and (min-width: 1100px) {
    .img-list {
        grid-template-columns: auto auto auto auto auto
    }
}