/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
body {
    font-family: "Roboto Condensed", serif;
}

main {
    margin: 2.5rem auto;
    max-width: 75rem;
}

/* TYPOGRAPHY */
h1 {
    text-align: center;
    background-color: #cd0000;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 3.75rem;
}

/* BUTTONS */

.arrow-buttons {
    background-color: transparent;
    border: 0;
    font-size: 2.5rem;
    color: #cd0000;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 2px 5px;;
}

.arrow-buttons:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: 0.4s;
}

/* MAIN */

.current-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-image--image {
    margin: 0 2.5rem;
    margin-bottom: 1.875rem;
}

.img-list {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 1.25rem;
    list-style: none;
}

.img-list img {
    width: 100%;
    height: 9.375rem;
    object-fit: cover;
    border-radius: .625rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}